<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un livre</title>
</head>
<body>

<nav>
    <a href="{{ url_for('hello_world') }}">Accueil</a> |
    <a href="{{ url_for('liste_livres') }}">Livres</a>
</nav>

<h1>Ajouter un livre</h1>

<form method="POST">
    <label>Titre :</label><br>
    <input type="text" name="titre" required><br><br>

    <label>Auteur :</label><br>
    <input type="text" name="auteur" required><br><br>

    <label>Stock initial :</label><br>
    <input type="number" name="stock" min="0" required><br><br>

    <button type="submit">Ajouter le livre</button>
</form>

<p><a href="{{ url_for('liste_livres') }}">← Retour à la liste des livres</a></p>

</body>
</html>
